# frozen_string_literal: true

class <%= migration_name %> < ActiveRecord::Migration[<%= rails_version %>]
  def change
    <%= migration_code %>
  end

  # Uncomment if using irreversible operations:
  # def up
  #   <%= up_code %>
  # end
  #
  # def down
  #   <%= down_code %>
  # end
end
